@media(max-width:769px) {
    .section {
        padding: 60px 0;
    }
.mobile-flex .btn-3d {
    background: #09235C;
}

    .navbar {
        padding: 20px 0;
        background: #fff;
    }

    .offcanvas-header {
        padding: 1rem 1rem 0 !important;
    }

    .navbar-nav {
        gap: 10px;
    }

    .nav-link {
        font-size: 24px;
        font-weight: 600;
        color: #555 !important;
        transition: 0.3s;
    }

    .nav-link:hover {
        color: #000 !important;
    }

    /* ACTIVE */
    .nav-link.active {
        color: #000 !important;
    }

    /* DROPDOWN */
    .dropdown-menu {
        border: none;
        border-radius: 0;
        padding: 15px 0;
        min-width: 260px;

        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    }

    .dropdown-item {
        font-size: 20px;
        font-weight: 600;
        color: #666;
        padding: 14px 22px;
        transition: 0.3s;
    }

    .dropdown-item:hover {
        background: #f5f5f5;
        color: #000;
        padding-left: 28px;
    }

    /* REMOVE BOOTSTRAP ARROW */
    .dropdown-toggle::after {
        display: none !important;
    }

    /* CUSTOM ICON */
    .down-icon {
        font-size: 14px;
        margin-left: 5px;
    }
}


/* ====== Tablet */

@media (min-width:575px) and (max-width:769px) {

    .sticky-bar {
        display: none;
    }

    .mobile.menu {
        display: block;
    }

    .mobile-flex .btn-3d.mb-3d {
        padding: 10px 23px;
    }

    .mobile-flex .btn-3d.mb-3d i {
        margin-right: 0;
    }

    .big-circle::before {
        display: none;
    }

    .hero-section::before {
        display: none;
    }
.srv-allbtn .btn-3d, .srv-allbtn .whatsapp-btn, .srv-allbtn .btn-card{
    height: 50px;
}
.tablet-btn {
    display: flex;
}
span.phone a {
    font-size: 13px;
}
    a.whatsapp-btn {
    margin-left: 0;
    font-size: 14px;
    padding: 8px 20px;
    color: #fff;
    display: flex;
    gap: 1px;
}
.auto-btn {
    height: 48px;
}
.offcanvas-start {
    width: 590px !important;
}
.record-head {
    font-size: 13px;
}


    .mobile-topbar {
        display: none;
    }
.phone {
    font-size: 12px;
}
.top-icon-flex {
    display: flex;
    gap: 0px;
}
.tb-cs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tb-cs span{
    display: none;
}
span.ms-3.tablet-css {
    border-left: 1px solid #fff;
    padding-left: 10px;
    font-size: 13px;
}

.hero-title {
    font-size: 45px;
    margin: 10px 0;
}
a.whatsapp-btn.on-mb {
    display: none;
}
.hero-btn .whatsapp-btn {
    gap: 13px;
}
.hero-btn a {
    width: auto;
}
.feature-wrapper {
    display: none;
}
.main-box-form {
    width: 80%;
    left: 50%;
    z-index: 999;
    top: 25px;
    height: auto;
    transform: translate(-50%, 0px);
}
.service-icon img {
    width: 35px;
}
.service-option {
    padding: 10px 25px;
}
.about {
    padding-top: 45%;
}
    .mobile-bar {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .stat-content h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

    section {
        padding: 40px 0;
    }
.hero-content {
    padding: 0 15px !important;
}
.mobile-hide {
    display: none;
  }

  .main-title {
    font-size: 40px;
}
    
    h2 {
        font-size: 30px !important;
    }

    .slide {
        padding: 0px 0px 0px 20px;
    }



    .banner-swiper .feature-box {
        gap: 18px;
        margin-top: 30px;
    }

    .cta-wrapper .cta-right {
        padding: 10px;
    }

    .image img {
        width: 100%;
        /* border-radius: 35% 0 0 35%; */
        clip-path: circle(95% at right 51%);
        height: 420px;
        object-fit: cover;
    }

    .about .big-circle {
        width: 290px;
        height: 290px;
        top: 0;
    }

    .about .small-circle {
        width: 150px;
        height: 150px;
        right: 1px;
        bottom: 25px;
    }

    .about .badge {
        left: -26px;
        top: -3px;
        width: 98px;
        height: 115px;
    }

    .about .main-box {
        height: 340px;
        width: 100%;
    }
.faq-head {
    padding-bottom: 20px;
}
.assist-heading {
    font-size: 25px;
    padding-left: 10px;
}
.assist-subtext {
    padding-left: 10px;
}
.assist-icon-circle {
    width: 50px;
    height: 50px;
}
.assist-icon-circle i {
    font-size: 20px;
}
.footer {
    padding: 40px 10px 0;
}
.footer p {
    font-size: 13px;
}
.assist-wrap {
    padding: 50px 15px;
}
    .about .year {
        font-size: 18px;
    }

    .about .text {
        font-size: 10px;
    }
.helpdesk-box {
    position: relative;
}
.helpdesk-agent img {
    right: -28px;
    top: 3px;
    width: 40%;
}
.locations {
    display: grid;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-bottom: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 15px;
    max-width: 100%;
}

    .cta-box {
        padding: 45px 25px;
    }

    .btn-3d {
        padding: 10px 20px;
        font-size: 13px;
    }

    .about .big-circle {
        width: 265px;
        height: 265px;
        left: 30px;
    }

    .star-bg img {
        width: 180px;
    }

    .star-bg {
        position: absolute;
        left: -34px;
        top: -62px;
    }

    .about .badge {
        left: 5px;
        top: 4px;
    }

    .icon {
        font-size: 30px;
    }

.stat-content h4 {
    font-size: 14px;
}
.stat-item {
    gap: 12px;
    padding: 0 5px 0 0;
}

    .stats-box {
        padding: 60px 10px;
        width: 97%;
    }

    .stat-box h2 {
        font-size: 55px !important;
    }
.services {
    padding-top: 80px;
}
.stats-wrapper {
    padding: 30px 20px 118px;
}
    .stat-box h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .stat-box {
        padding: 20px 25px 0 0;
        margin-bottom: 25px;
    }

    .new-testimonial h2 {
        font-size: 35px !important;
    }
    .right .tag1 {
    margin-bottom: 0;
}
.new-testimonial .left {
    height: 290px;
}

.rating-box {
    bottom: 25px;
}
.new-testimonial {
    padding-top: 20px;
}

.flex-wrp {
    margin-bottom:0;
}
.zx-blog-item {
    padding: 18px 0;
    margin: 0;
}
.zx-head-flex {
    margin-bottom: 10px;
}
    .rating-box span {
        font-size: 47px;
    }

    .testimonial-swiper {
        margin-top: 0;
    }


    .w-30 {
        width: 100%;
    }

    .w-40 {
        width: 100%;
    }

    .blog-flex {
        display: block;
    }

    .zx-blog-heading {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .zx-blog-date {
        font-size: 16px;
    }

    .zx-blog-text {
        font-size: 16px;
    }

    .zx-center-box {
        min-height: auto;
        margin: 40px 0;
    }

    .zx-team-photo {
        height: 206px;
        width: 100%;
    }

    .cta-box .cta-right {
        gap: 38px;
    }

.cta-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.para {
    font-size: 16px;
}
.video-cta {
    display: block;
}

.video-cta .left {
    width: 100%;
}
.video-cta .right {
    width: 100%;
}


    .cta-left {
        width: 100%;
    }

    .process-arrow-top {
        display: none;
    }

    .process-arrow-bottom {
        display: none;
    }

    .process-card {
        display: block;
    }

.process-icon-wrap {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    min-width: 50px;
}
.process-icon-wrap i {
    font-size: 18px;
}
.work-process-title {
    margin-bottom: 40px;
}
.work-process-area {
    padding-bottom: 40px;
}
.service-top-features {
    gap: 21px;
    width: 100%;
}
.office-cleaning-section {
    padding: 40px 0 0 0;
}
.process-content h3 {
    font-size: 18px;
}

    .process-content p {
        font-size: 16px;
    }

    .office-cleaning-number {
        top: -67px;
        font-size: 50px;
    }

    .office-cleaning-text {
        font-size: 16px;
    }

    .office-cleaning-image {
        margin-top: 0;
    }

    .acc-sticky {
        position: unset;
    }

    .footer-copy-text,
    .footer-dev-text {
        font-size: 13px;
    }

    .footer-bottom {
        margin-top: 20px;
    }

    .footer-about-text {
        font-size: 16px;
        margin-bottom: 40px;
        max-width: 100%;
    }

    .main-footer {
        padding: 50px 0 25px 0;
    }

    .title {
        font-size: 50px;
        margin-bottom: 35px;
    }

    .shipping-box {
        right: 159px;
        top: 166px;
        width: 237px;
    }

    .ship-content h4 {
        font-size: 11px;
    }

    .shipping-box {
        padding: 10px;
    }

    .slider {
        left: 40px;
    }

    .country .card {
        width: 117px;
        height: 215px;
    }


    .order-flow {
        right: 4px;
    }

}




/* ==== Mobile Screen  */
@media(max-width:575px) {
    section {
        padding: 40px 0;
    }

    .mobile.menu {
        display: block;
        border-bottom: 0.5px solid rgb(0 0 0 / 17%);
        background: #fff;
    }

    h2 {
        font-size: 25px !important;
    }
span.btn-text {
    font-size: 11px;
    color: #fff;
}

.top-badge {
    padding: 6px 10px 6px 9px;
    font-size: 10px;
    font-weight: 500;
}
.locations {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer {
    padding: 50px 10px 0;
}
section.faq-section .container-fluid {
    padding: 0 10px;
}

.helpdesk-btn-wrap a {
    padding: 10px 10px;
    font-size: 11px;
}
.hero-section {
    padding-top: 40px;
}

.hero-btn a {
    width: auto;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    padding: 0 10px;
    height: 40px;
}
.helpdesk-title {
    font-size: 23px;
}
.helpdesk-text {
    font-size: 16px;
}
.helpdesk-box {
    padding: 0 15px 30px;
}
.helpdesk-content {
    padding: 30px 10px 0 0;
}
.helpdesk-btn-wrap {
    justify-content: center;
}
.helpdesk-agent {
    display: none;
}
.faq-head {
    padding-bottom: 15px;
}
.feature-wrapper {
    display: none;
}

.ondesktop{
    display: none;
}
.on-mb{
  display: block;
}
.offcanvas-body {
    background: #09235C;
}
.offcanvas-body .nav-link {
    color: #fff !important;
}
.whatsapp-btn.on-mb {
    display: flex;
    justify-content: center;
}
.bottom-footer {
    margin-top: 15px;
}
.offcanvas-header {
    border-bottom: 1px solid #09235C;
}
.srv-allbtn {
    grid-template-columns: 49% 51%;
}
.record-head {
    font-size: 13px;
}
.menu li a, .menu li {
    font-weight: 500;
}
.srv-allbtn .whatsapp-btn, .srv-allbtn .btn-card {
    height: 56px;
}
.srv-allbtn .btn-3d {
    display: none;
}
.whatsapp-btn i {
    font-size: 18px;
}
    .mobile-topbar i {
        margin-right: 5px;
    }

    .mobile-topbar {
        background: #09235C;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
.mobile-topbar a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
    .top-bar {
        display: none;
    }

    .sticky-bar {
        display: none;
    }

    .mb-logo img {
        width: 85px;
    }

    .mobile-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .about .big-circle {
        width: 270px;
        height: 270px;
        left: 18px;
        top: 0;
    }

    /* Banner css */
.hero-btn {
    display: grid;
    grid-template-columns: 50% 50%;
}
.main-box-form {
    padding: 25px 15px;
    height: auto;
    width: 110%;
    margin-top: 76%;
    right: -26px;
}
.heading1 {
    font-size: 14px;
    margin-bottom: 15px;
}
.service-icon img {
    width: 30px;
}
.option-title {
    font-size: 15px;
}
.service-title {
    font-size: 15px;
}
.service-select {
    padding: 9px 13px;
}
.service-option {
    padding: 9px 13px;
}
br.break1 {
    display: none;
}
.hero-content {
    display: block;
}
.hero-title {
    font-size: 28px;
    margin-bottom: 15px;
}
.hero-desc {
    font-size: 16px;
    max-width: 100%;
}
    .hero-content {
        padding: 0 15px !important;
    }

    .main-title {
        font-size: 30px;
        font-weight: 700;
    }

    .desc {
        font-size: 16px;
        line-height: 1.6;
        width: 100%;
    }

    .small-desc {
        line-height: 1.6;
        font-size: 16px;
        width: 100%;
    }

    .flags {
        position: absolute;
        left: 0;
        top: 23px;
        display: flex;
        flex-direction: row;
        gap: 7px;
        z-index: 50;
    }

    .flag {
        width: 55px;
        height: 55px;
    }

    .shipping-box {
        right: 110px;
        top: 48%;
        width: 200px;
        padding: 6px;
    }

    .ship-content p {
        font-size: 10px;
        margin-bottom: 0;

    }

    .content {
        left: 10px;
        bottom: 6px;
    }

    .global-card {
        height: 826px;
    }

    .content p {
        font-size: 16px;
        line-height: 1.7;
        color: #a7b5b7;
    }

    .ship-icon {
        width: 12px;
        height: 12px;
        margin-top: 0px;
    }

    .order-flow {
        right: -30px;
        top: 54%;
    }

    .ship-item p {
        margin: 0;
    }

    .slider {
        left: 1%;
        top: 0;
        width: 307px;
    }

    .country .card {
        position: absolute;
        width: 175px;
        height: 258px;
    }

    .country .card button {
        width: 100%;
        height: 46px;
    }

    .card img {
        height: 211px;
    }

    .title {
        font-size: 34px;
        text-align: center;
    }

    .section {
        padding: 45px 0;
    }

    .ship-content h4 {
        font-size: 10px;
    }

    .section {
        padding: 45px 0 0;
    }


    /* Banner css  end*/

    .about .feature-box {
        display: block;
    }

    .icon-box {
        width: 87px;
        height: 70px;
        margin: 20px 0;
    }

    .about .btn-3d {
        margin-top: 0;
    }

    .star-bg {
        left: -31px;
        top: -47px;
    }

.services .stat-item {
    display: grid;
    margin-top: 10px;
    text-align: left;
    grid-template-columns: 25% 60%;
    align-items: center;
    border-right: none;
}

    .stat-content {
        text-align: left;
        border: none;
        margin-top: 15px;
        padding-left: 0px;
    }

    .stats-box {
        top: 0;
        padding: 15px;
        position: relative;
        margin-bottom: 50px;
    }

   .stat-box h2 {
    font-size: 35px !important;
}
.stat-box h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.stat-box p {
    font-size: 14px;
}

    .stats-wrapper {
        padding: 50px 15px 130px;
    }

    .stat-box {
        padding: 20px 0 0 0;
    }

    .new-testimonial {
        border-radius: 60px 60px 0 0;
    }

    .flex-wrp {
        margin: 75px 0 0;
    }

    .blog-flex {
        display: block;
    }

    .w-30 {
        width: 100%;
    }

    .w-40 {
        width: 100%;
    }

    .zx-clean-wrap {
        padding: 0px 0 50px;
    }

.zx-blog-item {
    display: block;
    border: 1px solid #00000030;
    padding: 10px;
}
.zx-center-title {
    font-size: 25px !important;
}

    .zx-blog-thumb {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .zx-blog-heading {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .zx-head-flex {
        margin-top: 40px;
    }

    .zx-big-title {
        font-size: 20px !important;
    }

    .zx-team-name {
        font-size: 20px;
    }

    .zx-team-photo {
        height: 230px;
        width: 100%;
    }

    .new-testimonial .left {
        height: 220px;
    }
    .zx-team-card {
    padding: 10px;
}
.cta-box .btn-3d {
    background: #fff;
    color: #09235C;
}
.video-cta {
    padding: 0;
}
    .rating-box span {
        font-size: 40px;
    }

    .rating-box {
        bottom: -13px;
    }

    .new-testimonial h2 {
        font-size: 30px !important;
    }

    .testimonial-swiper {
        margin-top: 0;
    }

    .services {
        margin-top: 0;
    }

    .star-bg img {
        width: 160px;
    }

    .banner-swiper .feature-box {
        margin-top: 25px;
        display: flex;
        gap: 1px;
        flex-wrap: nowrap;
    }

    .feature-icon {
        width: 30px;
        height: 30px;
    }

    .stats-box {
        display: block;
    }

    .stat-item {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .stat-item:not(:last-child)::after {
        display: none;
    }

    .about .main-box {
        height: 335px;
    }

    .btn-3d {
        padding: 10px 24px;
        font-size: 14px;
    }

    .flex-wrp {
        display: block;
    }

    .new-testimonial .left {
        width: 100%;
    }

    .services {
    padding-top: 40px;
}
    .new-testimonial .right {
        width: 100%;
        margin-top: 30px;
    }

    .new-testimonial .left img {
        height: 300px;
    }

    .about .small-circle {
        width: 130px;
        height: 130px;
        bottom: 29px;
    }

    .stat-content h4 {
        font-size: 16px;
    }

    .stat-content h3 {
        font-size: 30px;
    }

    .slide {
        padding: 50px 20px;
    }

    .content {
        width: 100%;
    }

    .image {
        width: 50%;
        /* text-align: right; */
        display: none;
    }

    .about .main-box {
        width: 100%;
    }

    .about .year {
        font-size: 16px;
    }

    .about .text {
        font-size: 10px;
    }

    .about .badge {
        left: -6px;
        top: 5px;
        width: 106px;
        height: 109px;
    }

    .cta-left {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

    }

    .cta-wrapper .cta-right {
        width: 100%;
        padding: 21px 10px;
    }

    .email-box img {
        display: none;
    }

    .cta-wrapper {
        width: 100%;
        display: block;
        margin: 0 10px;
    }

    .team-card h5 {
        font-size: 22px;
    }

    .team-card p {
        font-size: 16px;
    }

    .cta-section .cta-box {
        padding: 45px 10px;
        display: block;
    }

    .video-sec .swiper-wrapper {
        padding-bottom: 0;
    }

  .process-icon-wrap {
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin-bottom: 10px;
    margin: 0 auto 15px;
}

.hw-btn {
    display: block;
    text-align: center;
}
.work-process-area {
    padding-bottom: 40px;
}
.hw-btn a {
    margin-bottom: 10px;
}
.auto-btn {
    width: 167px;
    height: 44px;
}
.process-icon-wrap i {
    font-size: 24px;

}
.btn-inner i {
    color: #fff;
    font-size: 15px;
}

.mobile-topbar .btn-3d {
    padding: 10px 16px;
    font-size: 12px !important;
}

.process-card {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
    .process-arrow-top {
        display: none;
    }

    .process-arrow-bottom {
        display: none;
    }

    .work-process-area .col-lg-4 {
        margin-top: 15px;
    }

    .service-top-features {
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    .office-cleaning-card {
        padding: 40px 15px;
    }

    .office-cleaning-text {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 28px;
    }

    .office-cleaning-number {
        display: none;
    }

    .office-cleaning-image {
        margin-top: 0;
        border-radius: 20px;
    }

    .office-cleaning-section {
        padding: 60px 0 0;
    }

    .floating-card {
        width: 100%;
    }

    .hero-section::after {
        display: none;
    }

    .hero-section::before {
        display: none;
    }

    .floating-card {
        display: none;
    }

    .service-search-container {
        width: 100%;
        top: 2%;
    }

    .big-circle::before {
        display: none;
    }

    .trail {
        display: none;
    }

    .big-circle {
        width: 100%;
        height: 0;
    }

    .left-content {
        padding-bottom: 0;
    }

    .right-wrapper {
        height: 20vh;
        padding-bottom: 100px;
    }

    .service-search-button {
        display: none;
    }

    .acc-sticky {
        position: unset;
    }

 .custom-accordion .accordion-button {
    font-size: 16px;
    padding: 15px 55px 15px 17px;
}
.custom-accordion .accordion-body {
    padding: 10px;
    font-size: 16px;
}
.assist-wrap {
    border-radius: 18px 18px 0 0;
    padding: 30px 15px;
}
.assist-heading {
    font-size: 19px;
    margin-bottom: 10px;
}

.assist-btn-area {
    justify-content: center;
    margin-top: 10px;
}
.assist-btn-area a, .assist-btn-area button {
    padding: 8px 15px;
    font-size: 13px;
}
.assist-btn-white {
    padding: 10px 24px;
    font-size: 14px;
}
.assist-btn-area {
    margin-top: 20px;
    gap: 5px;
}
.location-section {
    margin-top: -6px;
}
.whatsapp-btn {
    padding: 10px 24px;
    font-size: 14px;
}
.about {
    padding-top: 75%;
}
.feature-box h6 {
    font-size: 18px;
}
    .main-footer {
        padding: 50px 0px 25px;
    }

    .cta-right a {
        display: block;
    }

    .cta-box .cta-right {
        display: block;
    }

    .cta-right a {
        display: block;
        margin: 17px 0;
    }

    .video-sec .left {
        width: 100%;
    }

    .video-sec .right {
        width: 100%;
        margin-top: 35px;
    }

    .video-sec .swiper-button-prev,
    .video-sec .swiper-button-next {
        width: 35px;
        height: 35px;
    }

    .left .btn-3d {
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }

    .arrow-img {
        display: none;
    }

    .email-box {
        display: block;
    }

    .mb-flex div {
        display: flex;
        gap: 5px;
        align-items: center;
        margin-top: 0 !important;
    }

    .email-box i {
        width: 25px;
        height: 26px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .video-cta {
        display: block;
    }

    .tablet-btn {
        display: none;
    }

    .contact-form textarea {
        height: 70px;
    }

    .contact-form .form-group {
        margin-bottom: 20px;
    }

    .contact-form input,
    .contact-form select,
    .contact-form textarea {
        font-size: 16px;
    }

    .mobile-flex .btn-3d.mb-3d {
        padding: 12px 18px;
        font-size: 22px;
    }

    .mobile-flex .btn-3d.mb-3d i {
        margin-right: 0;
    }

    .dropdown-menu.show {
        width: 100%;
    }

    .work-process-title {
        margin-bottom: 38px;
    }

    .footer-bottom {
        margin-top: 28px;
    }

    .footer-copy-text,
    .footer-dev-text {
        font-size: 15px;
    }

    .footer-copy-text a,
    .footer-dev-text a {
        font-size: 15px;
    }



}


@media (min-width:370px) and (max-width:425px){
.main-box-form {
    margin-top: 63%;
}
}
